body {
    background-color: #777;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    overflow: auto;
    text-align: center;
}

header, nav, footer {
    background: #ebebeb;
    width: 495px;
}

#article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
    margin-top: 10px;
}

#h1h2h3, #p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
    margin-top: 10px;
}

header {
    padding: 20px;
    margin: 10px 25% 10px 25%;
}

nav {
    padding: 20px;
    margin: 10px 25% 10px 25%;
}

.middlesection {
    display: flex;
}

section {
    float: left;
    margin: 10px 10px 20px 25%;
    width: 280px;
    background: #ebebeb;
    padding: 10px;
}

aside {
    width: 190px;
    float: right;
    margin: 10px 185px 20px 0px;
    background: #ebebeb;
    padding: 20px;
}

footer {
    clear: both;
    padding: 20px;
    margin: 0px 25% 10px 25%;
}